body {
  margin: 0;
}

.container {
  background-color: black;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(150px, auto));
  gap: 10px;
}

.main {
  background-color: chartreuse;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parts {
  background-color: purple;
}

p {
  margin: 0;
}

#main-element {
  width: 70%;
  height: 70%;
  background-color: yellow;
}